;
; © 2024-present https://github.com/cengiz-pz
;
[plugin]

name="Deeplink"
description="Enables processing of app links that enable direct navigation to requested app content"
author="Cengiz"
version="6.0.1"
script="DeeplinkPlugin.gd"
